@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
img {
    max-width: 100%;
    display: block;
}
a {
    color: inherit;
}
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color:inherit;
    font-weight: inherit;
}
h1 {
    font-size: 60px;
    font-family: 'Lora', serif;
}
h2 {
    font-size: 45px;
    font-family: 'Lora', serif;
}
h3 {
    font-size: 30px;
    font-family: 'Lora', serif;
}
h4 {
    font-size: 24px;
    font-family: 'Lora', serif;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 12px;
}
span,a {
    display: inline-block;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.container-fluid{
    padding: 0px 20px;
}

/******************************
            HEADER
*******************************/
.blue-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 25px;
    transition: 0.3s ease;
    background-color: #324B8F;
    border: 1px solid transparent;
}
.blue-btn:hover {
    color: #324B8F;
    background: #fff;
    border-color:#324B8F;
}
.header-row {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}
.site-menu {
    display: flex;
    align-items: center;
}
.site-menu ul li {
    margin: 0 10px;
    display: inline-block;
}
.site-menu ul li a {
    color: #393939;
    font-weight: 700;
    font-size: 18px;
}
.appointment-link {
    margin-left: 30px;
}
.hero-section {
    display: flex;
    align-items: flex-end;
    padding-bottom: 80px;
    height: calc(100vh - 112px);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content {
    max-width: 420px;
}
.hero-content h1 {
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero-content p {
    color: #fff;
    font-size: 24px;
    line-height: 1.4;
}
.hero-content .blue-btn {
    padding: 13px 30px;
    margin-top: 40px;
}
.treatment-section {
    background: #324B8F;
    padding: 85px 0;
    position: relative;
}
.treatment-section::before{
    content: '';
    position: absolute;
    top: 360px;
    bottom: 0;
    left: -200px;
    right: 0;
    width: 350px;
    height: 350px;
    background-image: url(../images/before1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.treatment-content {
    justify-content: space-between;
}
.treatment-text {
    width: 50%;
}
.treatment-image {
    width: 35%;
}
.treatment-image img {
    border-radius: 50px;
    position: relative;
    height: 600px;
    object-fit: cover;
}
.treatment-text h2 {
    color: #fff;
    font-weight: 700;
}
.treatment-options-row {
    margin-top: 50px;
    justify-content: space-between;
}
.treatment-option {
    width: 43%;
    margin-bottom: 50px;
}
.treatment-option h5 {
    color: #fff;
    font-weight: 700;
    margin: 20px 0 8px;
}
.treatment-option span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.treatment-icon {
    width: 70px;
    height: 70px;
}
.treatment-option:last-child .treatment-icon img {
    filter: invert(1);
}
.treatmentImage {
    position: relative;
}
.treatmentImage::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 32px;
    right: -30px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.1);
}
.treatment-info p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 30px;
}
.treatment-info {
    margin-top: 50px;
}
.treatment-info p:last-child {
    margin-bottom: 0;
}
.services-section {
    background: #324B8F;
    padding: 50px 100px;
}
.services-section h2 {
    color: #fff;
    font-weight: 700;
}
.services-header {
    align-items: flex-end;
    margin-top: 30px;
    justify-content: space-between;
}
.services-header p {
    max-width: 420px;
    font-size: 20px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.66);
}
.services-header a {
    color: #fff;
    padding: 13px 30px;
    font-weight: 700;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
.services-header a:hover {
    color: #324b8f;
    background: #fff;
}
.single-service {
    width: 23%;
}
.services-list {
    margin-top: 40px;
    justify-content: space-between;
}
.serviceImage img {
    width: 100%;
    border-radius: 50px;
    margin-bottom: 40px;
    position: relative;
}
.single-service a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
.single-service a:hover {
    color: #fff;
}
.single-service a img {
    width: 0;
    margin-left: 14px;
    transition: 0.6s;
}
.single-service a:hover img {
    width: 25px;
    transition: 0.3s ease;
}
.serviceImage {
    position: relative;
}
.serviceImage::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 85%;
    border-radius: 50px;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.07);
}
.biography-section {
    margin: 50px 0;
    padding: 50px 0;
}

.biography-text {
    width: 50%;
}
.biography-text h2 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.biography-text h5 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}
.biography-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.biography-image {
    width: 30%;
    position: relative;
}
.biography-content {
    justify-content: space-between;
}
.biography-links {
    margin-top: 60px;
}
.biography-links a {
    font-weight: 700;
    padding: 13px 25px;
    text-transform: uppercase;
    border: 1px solid #324B8F;
}
.biography-links a:first-of-type {
    color: #000;
    margin-right: 10px;
    transition: 0.3s ease;
}
.biography-links a:first-of-type:hover {
    color: #fff;
    background: #324b8f;
}
.biography-section {
    background: url('../images/biography-bg.jpg') top left -120px/contain no-repeat;
}
.biography-image img {
    position: relative;
    border-radius: 70px;
}
.biography-image::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #EFF1F6;
    border-radius: 70px;
    bottom: -30px;
    right: -30px;
}
.awards-content {
    text-align: center;
}
.awards-content h3 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.awards-section {
    margin: 20px 0 80px;
}
.awards-list {
    margin-top: 70px;
    justify-content: center;
}
.single-award {
    margin: 0px 45px;
}
.fitText {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.fitText::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -200px;
    right: 0;
    width: 350px;
    height: 350px;
    background-image: url('../images/before2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.fitImage {
    width: 50%;
}
.fit-text {
    margin-top: 20px;
}
.fit-text h2 {
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.fit-text ul li {
    color: #000;
    font-size: 20px;
    margin-bottom: 6px;
    padding-left: 40px;
    background: url('../images/list-image.png') center left no-repeat;
}
.fit-section {
    margin-bottom: 50px;
}
.about-video {
    width: 58%;
    position: relative;
}
.about-text {
    width: 36%;
}
.about-text h2 {
    color: #000;
    font-weight: 700;
    margin-bottom: 25px;
}
.about-text h5 {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}
.about-text p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    margin-bottom: 15px;
}
.videoBg {
    height: 100%;
    background: center/cover no-repeat;
    border-radius: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text a {
    margin-top: 20px;
    margin-bottom: 60px;
}
.about-content {
    justify-content: space-between;
}
.about-section {
    margin: 140px 0 100px;
    position: relative;
    background:url('../images/biography-bg.jpg') top right -120px/contain no-repeat
}
/* .about-section::before{
    content: '';
    position: absolute;
    top: 50px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-image: url('../images/biography-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
} */
.about-video::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #F4F6F9;
    border-radius: 40px;
    top: -30px;
    left: -30px;
}
.videoBg a {
    height: 80px;
    width: 80px;
    background: #324B8F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.testimonials-section {
    margin-bottom: 80px;
}
.testimonials-section h2 {
    text-align: center;
    color: #000;
    font-weight: 700;
    margin-bottom: 40px;
}
.single-testimonial {
    border: 1px solid #EAEAEA;
    padding: 50px 25px;
    text-align: center;
    border-radius: 40px;
}
.testimonials .reviewer-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.reviewer-img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.single-testimonial h5 {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}
.single-testimonial p {
    color: rgba(0, 0, 0, 0.7);
}
.single-testimonial h6 {
    color: #324B8F;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}


.news-section {
    margin-bottom: 100px;
}
.news-section h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.news-content {
    display: flex;
    justify-content: space-between;
}
.news-box {
    width: 32%;
}
.news-box-img img {
    width: 100%;
    border-radius: 30px;
}
.news-date {
    font-size: 14px;
    padding: 15px 0px;
}
.news-box h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}
.read-more-btn {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px;
    border: 1px solid #000;
    font-weight: bold;
}
.read-more-btn:hover{
    background-color: #000;
    color: #fff;
}
.spp-section {
    width: 100%;
    background-color: #4D7DFF;
    padding: 50px 0px;
}
.spp-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spp-content h3 {
    max-width: 470px;
    font-weight: bold;
    color: #fff;
}
.spp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    height: 50px;
    background-color: #FFB714;
    color: #fff;
    font-weight: bold;
    padding: 0px 20px;
}
.spp-btn:hover{
    color: #fff;
}
footer {
    display: flex;
    justify-content: space-between;
}
.col-25 {
    width: 20%;
}
.footer-left {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    background-color: #F8F8F8;
}

.footer-right {
    width: 30%;
    padding: 5%;
    background-color: #324B8F;
    color: #fff;
}
.footer-item h5 {
    padding: 30px 0px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    margin-bottom: 30px;
    font-weight: bold;
}
.footer-item ul li {
    padding: 5px 0px;
}
.footer-right li a {
    display: flex;
    align-items: center;
}
.footer-right li a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 13px;
    padding: 11px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
}
.footer-right li {
    margin-bottom: 10px;
}
.footer-right p {
    padding-bottom: 20px;
}
.footer-right-btn {
    width: 260px;
    height: 50px;
    margin-top: 50px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.footer-right-btn:hover{
    background-color: #fff;
    color: #000;
}
.copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-content ul {
    display: flex;
}
.copyright-content ul li {
    padding-left: 20px;
}
.copyright {
    padding: 15px 0px;
    background-color: #F4F4F4;
}
.copyright-content ul li a {
    opacity: 0.2;
    color: #324B8F;
}
.copyright-content ul li a:hover {
    opacity: 1;
}
.copyright-content p {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            About US
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.am-section {
    width: 100%;
    background-color: #324B8F;
    color: #fff;
    padding: 100px 0px;
    position: relative;
    margin-bottom: 50px;
}
.am-section::before{
    content: '';
    position: absolute;
    bottom: 100px;
    left: -235px;
    width: 350px;
    height: 350px;
    background-image: url(../images/before1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.am-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.am-left h2 {
    font-weight: bold;
    padding-bottom: 30px;
}
.am-btn {
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin-top: 50px;
    font-weight: bold;
}

.am-left p {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
}
.am-left {
    width: 50%;
}
.am-right{
    width: 35%;
    position: relative;
}
.am-right::before{
    content: '';
    position: absolute;
    bottom: 150px;
    right: -120px;
    width: 70px;
    height: 400px;
    background-image: url(../images/about-us.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.am-right-img img {
    position: relative;
    border-radius: 70px;
}
.am-right-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    border-radius: 70px;
    bottom: -30px;
    right: -30px;
}
.am-right-img {
    position: relative;
}
.am-right h3 {
    margin-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}
.saa-section {
    width: 100%;
    padding: 100px 0px;
}
.saa-content h2 {
    font-weight: bold;
    padding-bottom: 50px;
}
.saa-content .form-control {
    padding: 10px 20px;
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.2);
}
.saa-content .form-control::placeholder{
    color: rgba(0, 0, 0, 0.2);
}
select.form-control:not([size]):not([multiple]) {
    height: auto;
}
.about-form h4{
    max-width: 800px;
    padding: 30px 0px;
    line-height: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.about-form-btn {
    width: 120px;
    height: 50px;
    border: none;
    background-color: #324B8F;
    color: #fff;
    margin-top: 30px;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Service Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.sib-section {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.sib-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.sib-section::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(50, 75, 143, 0.13);
    z-index: -1;
}
.sib-content h2 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.sib-content h5 {
    color: #fff;
    font-weight: 100;
}
.sas-section {
    width: 100%;
    padding: 100px 0px;
}

.sas-section h4 {
    max-width: 990px;
    padding-bottom: 50px;
    line-height: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 38px;
}
.sas-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.sas-box:nth-child(even) {
    flex-direction: row-reverse;
}
.sas-box:last-child{
    margin-bottom: 0px;
}
.sas-box-info {
    width: 40%;
}

.sas-box-image {
    width: 55%;
    position: relative;
}
.sas-box-image::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #EFF1F6;
    border-radius: 50px;
    top: -30px;
    left: -30px;
}

.sas-box-image img {
    position: relative;
    width: 100%;
    border-radius: 50px;
}
.sas-box-info h3 {
    font-weight: bold;
    padding-bottom: 20px;
    max-width: 380px;
}

.sas-box-info p {
    color: rgba(0,0,0,0.66);
}

.sas-box-btn {
    width: 150px;
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324B8F;
    color: #fff;
}
.sas-box-btn:hover{
    color: #fff;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Service Detail Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.sdi-section {
    width: 100%;
    padding: 100px 0px;
}

.sdi-content h3 {
    font-weight: bold;
    padding-bottom: 20px;
}

.sdi-content p {
    color: rgba(0,0,0,0.66);
}

.sdi-img {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.sdi-img-box {
    width: 49%;
}

.sdi-img-box img {
    width: 100%;
    border-radius: 50px;
}
.sdi-faq .card{
    border: none;
}
.sdi-faq .card-header{
    padding:10px 0px;
    background-color: transparent;
    border: none;
}
.sdi-faq .card-body{
    width: 70%;
}
.faq-btn{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #000;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
.faq-btn:hover{
    text-decoration: none;
    color: #000;
}

.faq-btn.collapsed::before {
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    height: fit-content;
}
.faq-btn::before {
    content: '-';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    height: fit-content;
}
.sdi-faq h3 {
    padding: 20px 0px 40px;
}
.sdi-faq-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 50px;
    background-color: #324B8F;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
}
.sdi-faq-btn:hover{
    color: #fff;
}





/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        News Blog Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.bps-section {
    width: 100%;
    padding: 100px 0px;
}

.bps-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.bps-post-box {
    width: 48%;
    margin-bottom: 50px;
}
.bps-post-box:nth-last-child(2){
    margin-bottom: 0px;
}
.bps-post-box:last-child{
    margin-bottom: 0px;
}
.post-img img {
    width: 100%;
    border-radius: 30px;
}

.bps-section h3 {
    font-weight: bold;
    padding-bottom: 50px;
}

.post-date {
    padding: 10px 0px;
    font-size: 14px;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
}

.post-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.post-excerpt {
    padding: 10px 0px 30px;
}

.post-btn{
    width: 145px;
    height: 50px;
    background-color: #324B8F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.post-btn:hover{
    color: #fff;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Blog Detail Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.bds-section {
    width: 100%;
    padding: 100px 0px;
}
.bds-content {
    display: flex;
    justify-content: space-between;
}
.bds-left {
    width: 60%;
}
.bds-right {
    width: 35%;
    padding-left: 50px;
    border-left: 1px solid rgba(112, 112, 112, 0.3);
}
.bds-right h4 {
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
}
.recent-post-box h5 a{
    font-weight: bold;
    color:#000 ;
}
.recent-post-box {
    padding-bottom: 20px;
}
.recent-post-box p {
    font-size: 14px;
    color: rgba(0,0,0,0.3);
}
.bds-left > p a {
    text-decoration: underline;
    color: #1554FF;
}

.next-prev {
    display: flex;
    padding-top: 30px;
}
.next-prev li:nth-child(2) {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
}
.next-prev li:nth-child(2):before {
    content: '|';
    position: absolute;
    left: -3px;
    top: -1px;
    font-weight: bold;
}
.next-prev a {
    font-weight: bold;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Patient Information Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


.pfa-section {
    width: 100%;
    padding: 100px 0px;
}
.pfa-title {
    padding-bottom: 50px;
}
.pfa-title h3 {
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 50px;
}
.pfa-title p {
    font-size: 20px;
}

.pfa-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.pfa-box:last-child{
    margin-bottom: 0px;
}
.pfa-box:nth-child(even){
    flex-direction: row-reverse;
}
.pfa-box-info {
    width: 45%;
}
.pfa-box-info p a {
    text-decoration: underline;
    color: #324b8f;
}
.pfa-box-img {
    width: 45%;
}

.pfa-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pfa-box-info h4 {
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.pfa-box-info p {
    color: rgba(0,0,0,0.6);
    width: 80%;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Pricing Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.pds-section {
    width: 100%;
    padding: 100px 0px;
}

.pds-content h3 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
}
.pds-price-box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 80%;
    margin: auto;
}
.price-box {
    width: 32%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    border: 1px solid #D6D6D6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 50px;
}
.price-box-price {
    color: #324A8E;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}
.price-box-title {
    font-weight: bold;
    padding-top: 10px;
}
.price-box-title-bottom {
    color: #000;
}
.price-box-detail {
    color: rgba(0,0,0,0.7);
    padding: 15px 0px 25px;
}
.price-box-btn {
    width: 265px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #000;
    color: #000;
}
.price-box-btn:hover{
    background-color: #324B8F;
    color: #fff;
    border-color:#324B8F ;
}
.price-box:hover{
    border-color: transparent;
}
.rpd-content h3 {
    text-align: center;
    padding: 50px 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}
.fullwidth-price-box {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid #D6D6D6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 50px;
    align-items: center;
}
.fullwidth-price-box div {
    max-width: 600px;
}
.fullwidth-price-box:hover{
    border-color: transparent;
}
.price-box-price span {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
.rpd-content > p {
    text-align: center;
}
.rpd-content > p > a {
    text-decoration: underline;
    text-transform: capitalize;
    color: #324B8F;
}
.insurance-content {
    padding-top: 50px;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.insurance-content h3 {
    font-weight: bold;
    padding-bottom: 30px;
}
.insurance-btn {
    max-width: 270px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0px;
    background-color: #324B8F;
    color: #fff;
    font-weight: bold;
}
.insurance-btn:hover{
    color: #fff;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Contact Us Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.cus-section {
    width: 100%;
    padding: 100px 0px;
}

.cus-content {
    display: flex;
    justify-content: space-between;
}

.cus-box {
    width: 45%;
}

.cus-box-link {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 50px;
}

.cus-box-link a {
    width: 45%;
    margin-bottom: 50px;
}
.cus-box-link a span {
    max-width: 250px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.cus-box-link a img {
    margin-bottom: 15px;
}
.bold-span{
    font-weight: bold !important;
}
.cus-box h3{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.cus-box-btn {
    width: 265px;
    height: 50px;
    background-color: #324B8F;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cus-box-btn:hover{
    color: #fff;
}
.cus-box form {
    padding-top: 30px;
}
.cus-box input.form-control {
    height: 50px;
}
.cus-box .form-control {
    border-radius: 10px;
}
.cus-box p{
    font-family: 'Raleway', sans-serif;
}
.form-btn {
    text-align: right;
    padding-top: 20px;
}
.cus-form-btn {
    width: 170px;
    height: 50px;
    background-color: #324B8F;
    border: none;
    color: #fff;
}
.iws-section {
    width: 100%;
    padding: 100px 0px;
}
.google-map iframe {
    width: 100%;
    height: 490px;
}









/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Insurance Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.iws-section {
    width: 100%;
    padding: 100px 0px;
}

.iws-content h3 {
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 500px;
    padding-bottom: 30px;
}

.iws-box {
    display: flex;
    justify-content: space-between;
}

.iws-box p {
    width: 45%;
}
.iws-form {
    padding-top: 50px;
    width: 600px;
}
.iws-form label {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
}
.iws-form .form-control{
    color: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-bottom: 1px solid #324B8F;
    border-radius: 0px;
    padding: 0 0 .75rem;
}
.iws-form .form-control::placeholder{
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.2);
}
.form-control:focus{
    box-shadow:unset;
}
.iws-form .custom-control-label::before{
    top: .7rem;
    background-color: transparent;
    border: 1px solid #C9C9C9;
}
.iws-form .custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color: transparent;
}
.iws-form .custom-control-label::after{
    top: .7rem;
}
.iws-form .custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-color: #7FCC16;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    top: 15px;
    left: 4px;
    background-image: unset;
}
.input-message {
    color: #6392FA !important;
    padding-top: 5px;
    font-family: 'Raleway', sans-serif;
}
.iws-form-btn{
    padding-top: 30px;
}
.iws-form-btn input[type="submit"] {
    width: 170px;
    height: 50px;
    background-color: #324B8F;
    color: #fff;
    border: none;
}








/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Covid 19 Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.cvs-section {
    width: 100%;
    padding: 100px 0px;
}
.cvs-content {
    display: flex;
    justify-content: space-between;
}
.cvs-box {
    width: 40%;
}
.cvs-box h3 {
    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}
.cvs-box p {
    padding: 30px 0px;
    color: rgba(0, 0, 0, 0.7);
}
.cvs-box ul {
    padding-left: 20px;
}
.cvs-box li {
    list-style: disc;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.7);
}
.cvs-box img{
    border-radius: 40px;
}







/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Media Query
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@media(min-width:1680px){
    h1 {
        font-size: 75px;
        font-family: 'Lora', serif;
    }
    h2 {
        font-size: 55px;
        font-family: 'Lora', serif;
    }
    h3 {
        font-size: 36px;
        font-family: 'Lora', serif;
    }
    h4 {
        font-size: 24px;
        font-family: 'Lora', serif;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 12px;
    }

    .container {
        max-width: 1460px;
    }
    .container-fluid {
        padding: 0 80px;
    }
    .hero-content {
        max-width: 660px;
    }
    .hero-content p{
        font-size: 28px;
    }
}
@media(max-width:1440px){
    .container-fluid {
        padding: 0px 60px;
    }
    .treatment-section::before{
        left: -260px;
    }
    .hero-content {
        max-width: 480px;
    }
    .hero-content p{
        font-size: 20px;
    }
    .treatment-image {
        width: 40%;
    }
    .treatment-info p{
        font-size: 18px;
    }
    .services-header p{
        max-width: 400px;
        font-size: 18px;
    }
    .fitText::before{
        width: 300px;
        height: 300px;
    }
    .fit-text ul li{
        font-size: 18px;
    }
    .about-video{
        height: 400px;
    }
    .price-box{
        padding: 30px;
    }
    .price-box-btn{
        width: 210px;
        height: 40px;
        font-size: 12px;
    }

    .am-right::before{
        top: 200px;
        right: -90px;
        bottom: unset;
        width: 50px;
        height: 300px;
    }

    /* Service Page */
    .sas-section h4{
        font-size: 30px;
        max-width: 900px;
    }



}

@media(max-width:1280px){
    h1 {
        font-size: 50px;
        font-family: 'Lora', serif;
    }
    h2 {
        font-size: 40px;
        font-family: 'Lora', serif;
    }
    h3 {
        font-size: 28px;
        font-family: 'Lora', serif;
    }
    h4{
        font-size: 20px;
    }

    .footer-right li a{
        align-items: flex-start;
    }
    .footer-right li a span {
        padding-top: 5px;
    }   
    
    .container-fluid {
        padding: 0px 50px;
    }
    .blue-btn{
        font-size: 14px;
    }
    .appointment-link {
        margin-left: 20px;
    }
    .site-menu ul li a{
        font-size: 16px;
    }
    .site-menu ul li{
        margin: 0 7px;
    }
    .treatment-section::before{
        width: 250px;
        height: 250px;
        left: -185px;
        top: 450px;
    }
    .fitText::before {
        width: 250px;
        height: 250px;
        left: -170px;
    }
    .videoBg a{
        height: 70px;
        width: 70px;
    }



    /* About Us Page */
    .am-content{
        justify-content: space-around;
    }
    .am-section::before{
        left: -265px;
    }


}

@media(max-width:1200px){
    .container-fluid {
        padding: 0px 20px;
    }

    .site-menu nav{
        position: absolute;
        right: 0;
        left: 0;
        top: 110px;
        z-index: 9999;
    }
    .site-menu ul{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        padding: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .site-menu ul li{
        margin: 0px 7px 5px;
    }
    
    .nav-active span:first-child {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-11px, 6px);
    }
    .nav-active span:nth-child(2) {
        opacity: 0;
    }
    .nav-active span:last-child {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(0px, 4px);
    }
    .site-menu nav{
        display: none;
    }
    .nav-toggler {
        position: absolute;
        display: block;
        width: 30px;
        height: 20px;
        right: 20px;
        top: 46px;
        margin: auto;
    }
    .nav-toggler span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #0b2738;
        transition: 0.4s;
    }
    .nav-toggler span:nth-child(2) {
        bottom: 0;
    }
    .nav-toggler span:nth-child(3) {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    
    .appointment-link{
        margin-left: 0;
        margin-right: 50px;
    }
    .hero-section{
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .services-section{
        padding: 50px 70px;
    }
    .biography-image{
        height: 380px;
    }
    .single-award {
        margin: 0px 40px;
    }
    .treatment-section::before{
        left: -210px;
    }
    .fitText::before {
        width: 180px;
        height: 180px;
        left: -125px;
    }
    .about-video {
        height: 350px;
    }
    .footer-right-btn{
        font-size: 12px;    
        width: 200px;
        height: 40px;
    }
    .footer-right li a span{
        padding-top: 0px;
    }
    .footer-right li a {
        align-items: center;
    }   
    .treatment-section{
        padding: 85px 0 1px;
    }
    .spp-btn{
        font-size: 14px;
        min-width: 200px;
    }




    /* About Us page */
    .am-right::before{
        top: 250px;
        height: 200px;
    }
    .am-section::before{
        width: 300px;
        height: 300px;
        left: -235px;
    }

    /* Pricing Page */
    .fullwidth-price-box div{
        max-width: 400px;
    }
    .price-box-btn{
        width: 180px;
    }
}
@media(max-width:991px){
    .treatment-image{
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }
    .treatment-text {
        width: 100%;
        order: 2;
    }
    .services-section {
        padding: 50px 30px;
    }
    .biography-image {
        width: 100%;
        height: auto;
        order: 1;
        margin-bottom: 50px;
    }
    .biography-text {
        width: 100%;
        order: 2;
    }
    .fitImage {
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }
    .fitText{
        width: 100%;
        order: 2;
    }
    .about-video {
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }
    .about-text {
        width: 100%;
        order: 2;
    }
    .news-content{
        flex-flow: row wrap;
    }
    .news-box {
        width: 100%;
        margin-bottom: 50px;
    }
    .news-box:last-child{
        margin-bottom: 0px;
    }
    footer{
        flex-flow: row wrap;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        width: 100%;
    }


    /* About Us page */
    .am-content{
        flex-flow: row wrap;
    }
    .am-left{
        width: 100%;
        order: 2;
    }
    .am-right{
        width: 70%;
        order: 1;
        text-align: center;
        margin-bottom: 50px;
    }
    .am-right::before{
        height: 300px;   
    }
    .am-section::before{
        display: none;
    }


    /* Service Page */
    .sas-box{
        flex-flow: row wrap;
        margin-bottom: 100px;
    }
    .sas-box-info {
        width: 100%;
        order: 2;
    }
    .sas-box-image{
        width: 100%;
        order: 1;
        margin-bottom: 20px;
    }
    .sas-box:nth-child(even) {
        flex-direction: row;
    }


    /* Patient Page */
    .pfa-section{
        padding: 50px 0px;
    }

    /* COntact Us Page */
    .cus-section{
        padding: 50px 0px;
    }


    /* Covid 19 Page */
    .cvs-box {
        width: 48%;
    }
    .cvs-section{
        padding: 50px 0px;
    }



    /* Blog Detail Page */
    .bds-section{
        padding: 50px 0px;
    }
    .bds-right{
        padding-left: 30px;
    }


    /* Service Details Page */
    .sdi-section{
        padding: 50px 0px;
    }



    /* Pricing Page */
    .fullwidth-price-box{
        flex-flow: row wrap;
    }
    .fullwidth-price-box div{
        width: 100%;
    }
    .price-box-btn{
        width: 100%;
    }
    .price-box{
        width: 100%;
    }


}
@media(max-width:767px){
    h1 {
        font-size: 40px;
        font-family: 'Lora', serif;
    }
    h2 {
        font-size: 30px;
        font-family: 'Lora', serif;
    }
    h3 {
        font-size: 26px;
        font-family: 'Lora', serif;
    }
    h4{
        font-size: 20px;
    }


    .hero-section{
        padding-bottom: 50px;
    }
    .treatmentImage::before{
        top: 10px;
        right: -10px;
    }
    .treatment-section::before{
        display: none;
    }
    .treatment-info {
        margin-top: 10px;
    }
    .blue-btn{
        font-size: 12px;
        padding: 10px;
    }
    .single-service {
        width: 100%;
        margin-bottom: 20px;
    }
    .services-section {
        padding: 20px 0px;
    }
    .biography-image::before{
        bottom: -10px;
        right: -10px;
    }
    .biography-links a{
        font-size: 10px;
    }
    .biography-links {
        margin-top: 30px;
    }
    .biography-links {
        margin-top: 30px;
    }
    .biography-section{
        padding: 0px;
    }
    .biography-text h2{
        margin-bottom: 10px;
    }
    .awards-section {
        margin: 20px 0 50px;
    }
    .fitImage{
        margin-bottom: 30px;
    }
    .about-section{
        margin: 50px 0px 0px;
    }
    .about-video::before{
        top: -10px;
        left: -10px;
    }
    .about-text h2{
        margin-bottom: 10px;
    }
    .about-video{
        margin-bottom: 30px;
    }
    .fit-text ul li {
        font-size: 16px;
    }
    .spp-content{
        flex-flow: row wrap;
    }
    .spp-btn {
        font-size: 12px;
        min-width: 180px;
        margin-top: 30px;
        height: 45px;
    }
    .footer-left{
        flex-flow: row wrap;
    }
    .col-25 {
        width: 100%;
    }
    .services-header a {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 12px;
    }
    .footer-right-btn{
        margin-top: 30px;
    }
    .footer-item h5{
        padding: 20px 0px;
        margin-bottom: 10px;
    }
    .news-section {
        margin-bottom: 50px;
    }
    .read-more-btn{
        font-size: 12px;
        width: 150px;
        height: 40px;
    }
    .hero-content .blue-btn{
        margin-top: 20px;
    }
    .treatment-image{
        margin-bottom: 20px;
    }
    .single-service a{
        font-size: 18px;
    }
    .biography-text h5{
        font-size: 18px;
    }
    .treatment-option span{
        font-size: 14px;
    }
    .biography-text p,
    .treatment-info p,
    .services-header p,
    .about-text p{
        font-size: 16px;
    }
    .treatment-image img{
        height: 400px;
    }



    /* About Us page */
    .am-right::before{
        display: none;
    }
    .am-right{
        width: 100%;
        margin-bottom: 20px;
    }
    .am-right-img::before{
        bottom: -10px;
        right: -10px;
    }
    .am-right h3{
        margin-top: 20px;
    }
    .am-section{
        padding: 50px 0px;
    }
    .am-left p{
        font-size: 16px;
    }
    .am-btn{
        width: 200px;
        height: 40px;
        font-size: 12px;
        margin-top: 30px;
    }



    /* Service Page */
    .sas-section{
        padding: 50px 0px;
    }
    .sas-section h4{
        font-size: 24px;
        padding-bottom: 30px;
    }
    .sas-box-btn{
        width: 120px;
        height: 40px;
        margin-top: 20px;
        font-size: 12px;
    }
    .sas-box{
        margin-bottom: 30px;
    }
    .sas-box-image::before{
        top: -10px;
        left: -10px;
    }


    /* Blog Page */
    .bps-post-box{
        width: 100%;
        margin-bottom: 30px;
    }
    .bps-post-box:nth-last-child(2) {
        margin-bottom: 30px;
    }
    

    /* Patient Information */
    .pfa-section{
        padding: 50px 0px;
    }
    .pfa-box{
        flex-flow: row wrap;
    }
    .pfa-box-info{
        width: 100%;
        order: 2;
    }
    .pfa-box-img{
        width: 100%;
        order: 1;
        margin-bottom: 30px;
    }
    .pfa-box-info p{
        width: 100%;
    }

    /* Contact Us Page */
    .cus-content{
        flex-flow: row wrap;
    }
    .cus-box {
        width: 100%;
    }
    .cus-box:first-child {
        padding-bottom: 30px;
    }
    .cus-box-btn{
        width: 220px;
        height: 40px;
        font-size: 12px;
    }
    .cus-form-btn{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }



    /* Covid 19 Page */

    .cvs-content{
        flex-flow: row wrap;
    }
    .cvs-box:first-child{
        order: 2;
    }
    .cvs-box{
        width: 100%;
    }
    .cvs-box h3{
        padding-top: 30px;
    }



    /* Blog Detail page */
    .bds-content{
        flex-flow: row wrap;
    }
    .bds-left{
        width: 100%;
        order: 1;
    }
    .bds-right{
        width: 100%;
        order: 2;
        padding-left: 0px;
        border-left: 0px;
        padding-top: 30px;
    }



    /* Service Details Page */

    .sdi-img{
        flex-flow: row wrap;
        padding: 20px 0px;
    }
    .sdi-img-box:first-child{
        padding-bottom: 20px;
    }
    .sdi-img-box{
        width: 100%;
    }
    .sdi-faq .card-body{
        width: 100%;
    }
    .faq-btn{
        font-size: 18px;
    }
    .sdi-faq-btn{
        width: 200px;
        height: 40px;
        font-size: 12px;
    }


    /* Pricing Page */
    .pds-price-box{
        max-width: 100%;
    }
}
